.wheelWrapper {
    text-align: center;
}

.wheel {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vw;

    max-width: 600px;
    max-height: 600px;
}

.wheelSkeleton {
    background-color: rgba(128, 128, 128, 0.1);
    margin-top: 22px;
    width: calc(100vw - 18px);
    height: calc(100vw - 18px);
    border-radius: 50%;

    max-width: 582px;
    max-height: 582px;
}

.singleLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.button {
    margin-top: -16px !important;
}
