.sendButton {
    animation: spin 2s ease-in-out infinite;
}

.sendButton:hover {
    animation: none;
}

@keyframes spin {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    30% {
        transform: translate(-50%, 0) rotate(270deg);
    }
    60% {
        transform: translate(50%, 0) rotate(480deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}
